.el-submenu .el-menu-item {
  font-size: 14px;
  padding-left: 50px !important;
  // .is-active 是 .el-menu-item 的兄弟节点
  &.is-active {
    background-color: $--color-bgc !important;
  }
}

// 修改一级菜单样式
.el-submenu {
  &.is-active.is-opened .el-submenu__title {
    background-color: #a3ccf5 !important;
  }
}
